<div class="container-fluid" style="padding:0;position:sticky;top:0;z-index:2;">
  <div  class="container-fluid" style="margin:0;padding:0;
            box-shadow: 0px 2px 3px #0d6efd;">
    <nav class="navbar navbar-light fixed-top bg-primary"
         style="clear:both; position:relative; margin-left:0; margin-right:0; padding:0;">
      <div class="container justify-content-center">
        <a class="navbar-brand"  style="font-size:2rem;">Multithreading Seaports</a>
      </div>
    </nav>
    <nav class="navbar navbar-light fixed-top"
         style="clear:both;position: relative; margin-left:0;margin-right:0;background-color: #ffdd44; padding:0;">
      <div class="container justify-content-center" style="display: flex; align-content: center;
        align-items: center; justify-content: center; font-size:2em; height:1.5em;">
        <a class="navbar-brand col-auto" href="#" style="padding:4px;"
           (click)="showDescription();">Project</a>
        <a class="navbar-brand" href="#" style="padding:4px;"
           (click)="showSource();">Source</a>
        <a class="navbar-brand" href="#" style="padding:4px;"
           (click)="showCode();">Code</a>
        <a class="navbar-brand" href="#" style="padding:4px;"
           (click)="showData();">Data</a>
        <a class="navbar-brand col-auto" href="#" style="padding:4px;"
           (click)="showSimulation();">Simulation</a>

      </div>
    </nav>
    <!--Data-->
    <ng-container *ngIf="component == 'data' || component == 'simulation'">
    <nav class="navbar navbar-light fixed-top"
         style="clear:both;position: relative;margin:0; padding: 0;background-color: white;">
      <div class="container-lg">
        <ng-container *ngIf="component == 'data'">
          <div style="justify-content: center; justify-items: center; margin: auto; display:flex; padding-top:8px;">
            <button class="btn" style="border:1px solid black;margin-right:16px;">Sort</button>
            <button class="btn" style="border:1px solid black;">Search</button>
            <input type="text" [(ngModel)]="term" (input)="search(term)" name="term" class="term"/>
          </div>
          <div class="container-fluid" style="border-top: 1px solid lightgray;margin: 8px 0 0 0;
                  padding-top: 4px;padding-bottom:0;" >
            <table style="width: 100%;margin: 0; padding:0;">
              <thead>
              <tr>
                <th scope="col" style="left: 0;padding-left:0;">Index</th>
                <th scope="col" style="width:100px;">Type</th>
                <th scope="col" style="width:130px;">Name</th>
                <th scope="col" style="width: 30px;right: 0;">Parent</th>
              </tr>
              </thead>
            </table>
          </div>
        </ng-container>
        <!--Simulation-->
        <ng-container *ngIf="component == 'simulation'">
          <div style="justify-content: center; justify-items: center; display:flex; margin: auto; padding-top:8px;">
            <button id="start" class="btn" style="border:1px solid black;margin-right:16px;"
                    (click)="start()" [disabled]="!safeToStart">{{startButton}}</button>
            <button id="cancelall" class="btn" style="border:1px solid black;margin-right:16px;"
                    (click)="cancelAll()" [disabled]="!safeToCancel">Cancel All</button>
            <button id="pauseall" class="btn" style="border:1px solid black;margin-right:16px;"
                    (click)="pauseAll()" [disabled]="!safeToCancel">Pause All</button>
            <select #portSelect (change)="setSelected(portSelect.value)"
                    aria-label="Port"  class="btn" style="border:1px solid black;height:38px;">
              <option disabled>Choose Port</option>
              <!--            <option class="option" [value]="'any'">All Ports</option>-->
              <!--          Showing all ports at the same time during simulation slows down the browser!-->
              <ng-container *ngFor="let port of ports">
                <option class="option" [value]="port.name">{{port.name}}</option>
              </ng-container>
            </select>
            <br>
          </div>
          <div class="container-lg" style="border-top: 1px solid lightgray;margin: 8px 0 0 0;
                  padding-top: 4px;padding-bottom:0;">
            <div class="row">
              <div class="col col-3">
                <div class="row">
                  <div class="col">
                    <strong>Ship</strong>
                  </div>
                  <div class="col col-push-2">
                    <strong>Dock</strong>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-lg-6 col-md-4 col-sm-12">
                    <strong>Jobs</strong>
                  </div>
                  <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="row">
                      <div class="col-3" style="padding: 1px 0 1px 16px;"><strong>Cancel</strong></div>
                      <div class="col-2" style="padding: 1px;"><strong>Pause</strong></div>
                      <div class="col-3" style="padding: 1px;"><strong>Progress</strong></div>
                      <div class="col-3" style="padding: 1px;"><strong>Status</strong></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="container-fluid" id="warning" style="margin-top: 10px; justify-content: center;
          align-content: center;text-align: center;">{{warning}}</div>
    </nav>
    </ng-container>
  </div>
</div>

<!--Data-->
<ng-container *ngIf="component == 'data' ">
<!--  Table-->
  <div class="container-lg" id="everything">
  <table class="table">
    <tbody>
      <ng-container *ngFor="let key of data | keyvalue " style="list-style-type: none;">
        <tr>
          <td>{{key.value.index}}<p style="color:blue;">{{key.value.info}}</p></td>
          <td>{{key.value.type}}</td>
          <td>{{key.value.name}}</td>
          <td>{{key.value.parent}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  </div>
</ng-container>

<!--Simulation-->
<ng-container *ngIf="component == 'simulation'" >
<!--Tables-->
  <ng-container *ngFor="let port of ports">
    <div class="container-lg" id="{{port.name}}" >
      <table class="table table-sm">
        <tbody>
          <tr *ngFor="let ship of ships" style="border-bottom: 1px solid lightgray; padding:0;margin:0;">
            <ng-container *ngIf="ship.port === port.name">
            <div class="row" style="width:100%;margin: 0; margin-bottom:4px;">
              <div class="col-3">
                <div class="row">
                  <div class="col">
                    <p style="word-break: break-word;">{{ship.name}}</p>
                    <ng-container *ngIf="ship.shipStatus.toString() === 'DOCKING'">
                      <p><button class="btn" style="border: 1px solid black;background-color: #fd4; margin-top:4px;
                            padding: 2px;">WAITING TO DOCK</button></p>
                    </ng-container>
                    <ng-container *ngIf="ship.shipStatus.toString() === 'ASSIGNING'">
                      <p><button class="btn" style="border: 1px solid black;background-color: orange;
                       margin-top:4px; padding: 2px;">ASSIGNING DOCK</button></p>
                    </ng-container>
                    <ng-container *ngIf="ship.shipStatus.toString() === 'DOCKED'">
                      <p><button class="btn" style="border: 1px solid black;background-color: #0275d8; margin-top:4px;
                            padding: 2px;">DOCKED</button></p>
                    </ng-container>
                    <ng-container *ngIf="ship.shipStatus.toString() === 'DEPARTED'">
                      <p><button class="btn" style="border: 1px solid black;background-color: gray; margin-top:4px;
                            padding: 2px;">GONE</button></p>
                    </ng-container>
                  </div>
                  <div class="col col-push-2">
                    {{ship.dock}}
                  </div>

                </div>
              </div>
              <div class="col">
                <ng-container *ngFor="let job of ship.jobs">
                  <div class="row">
                    <div class="col">
                      {{job.name}}
                      <p style="color:blue;word-break: break-all; margin-bottom: 0;">
                        <strong>{{job.duration}}</strong>: {{job.requirements}}</p>
                    </div>
                    <div class="col-12 col-md-8 col-lg-6 col-sm-12">
                      <div class="row" style="padding:0;margin:0;margin-bottom: 1em; width:100%;">
                        <div class="col-2" style="padding:0;margin:0 auto;">
                          <button id="{{job.index}}c" (click)="cancel(job.index)" class="btn"
                              style="border: 1px solid black;padding-left:4px; padding-right:4px;
                                margin: 1px 0 1px 0;">Cancel</button>
                        </div>
                        <div class="col-2" style="padding:0;margin:0 auto;">
                          <button id="{{job.index}}p" (click)="pause(job.index)" class="btn"
                              style="border: 1px solid black;padding-left: 4px; padding-right: 4px;
                                margin: 1px 0 1px 0;">Pause</button>
                        </div>
                        <div class="col-3" style="margin:1px 0;padding:0;">
                          <div class="progress" style="height:38px; width: 100%;
                              border: 1px solid black;padding:0;position: relative;">
                            <div class="progress-bar" role="progressbar"
                                 [style.width.%]="job.progress"
                                 aria-valuemin="0" aria-valuemax="100" style="text-align: center;"
                            ></div>
                            <div style="position: absolute; left: 0; right: 0;
                                text-align: center;height: 34px; line-height: 34px;"
                            >{{job.progress}}%</div>
                            <!--                          attr.aria-valuenow="{{job.progress}}"-->
                          </div>
                        </div>
                        <div class="col-4" style="margin: 1px 0px 1px 0px;">
                          <ng-container *ngIf="job.jobStatus.toString() === 'WAITING'">
                            <button class="btn" style="border: 1px solid black;background-color: #fd4;
                                padding-right:4px;padding-left:4px;">{{job.jobStatus}}</button>
                          </ng-container>
                          <ng-container *ngIf="job.jobStatus.toString() === 'PROCESSING'">
                            <button class="btn" style="border: 1px solid black;background-color: #0275d8;
                                padding-right:2px;padding-left:2px;">{{job.jobStatus}}</button>
                          </ng-container>
                          <ng-container *ngIf="job.jobStatus.toString() === 'PAUSED'">
                            <button class="btn" style="border: 1px solid black;background-color: orange;
                                padding-right:2px;padding-left:2px;">{{job.jobStatus}}</button>
                          </ng-container>
                          <ng-container *ngIf="job.jobStatus.toString() === 'UNAVAILABLE'">
                            <button class="btn" style="border: 1px solid black;background-color: black;
                            color: white;padding-right:2px;padding-left:2px;">NO WORKERS</button>
                          </ng-container>
                          <ng-container *ngIf="job.jobStatus.toString() === 'CANCELED'">
                            <button class="btn" style="border: 1px solid black;background-color: red;
                                padding-right:2px;padding-left:2px;">{{job.jobStatus}}</button>
                          </ng-container>
                          <ng-container *ngIf="job.jobStatus.toString() === 'FINISHED'">
                            <button class="btn" style="border: 1px solid black;background-color: gray;
                                padding-right:2px;padding-left:2px;">{{job.jobStatus}}</button>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            </ng-container>
          </tr>

        </tbody>
      </table>

    </div>
  </ng-container>

</ng-container>

<ng-container *ngIf="component == 'description'" >
  <div class="container-lg" style="margin-top:16px;">
    <div class="card" style=" align-content:center;">
      <img src="../assets/seaport.jpg" alt="Seaport Photo by Ronan Furuta. Unsplash Photo License:
      Unsplash photos are made to be used freely. Our license reflects that.
      All photos can be downloaded and used for free
      Commercial and non-commercial purposes
      No permission needed (though attribution is appreciated!)" style="max-height: 36em;">
      <div class="card-body">
        <h2 class="card-title">Multithreading Seaports</h2>
        <p class="card-text">This project simulates multiple threads competing for resources.
          <br>The solution uses the concept of synchronization to run multiple jobs.
          <br>Java Collection classes and methods like Semaphores, Thread, Wait and NotifyAll are used.<br>
          </p>
      </div>
    </div>
    <div style="background-color: #ffdd44; align-content: center;margin-top: 3em; padding: 16px;">
      <h2 style="text-align: center; margin-bottom: 16px;">Project Overview</h2>
      <p style="text-align: center;">This graduation project requested the use of Swing components to create a GUI.
        It is adapted here to use a web framework.</p>
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <div style="width:100%"><i class="bi bi-body-text"></i></div>
            <div>
              <h4>Read raw data from a text file</h4>
            </div>
          </div>
          <div class="col">
            <div style="width:100%"><i class="bi bi-card-list"></i></div>
            <div>
              <h4>Create a data structure to sort and search information</h4>
            </div>
          </div>
          <div class="col">
            <div style="width:100%"><i class="bi bi-bar-chart-steps"></i></div>
            <div>
              <h4>Create a thread for each job that needs to be done on a ship</h4>
            </div>
          </div>
          <div class="col">
            <div style="width:100%"><i class="bi bi-person-badge"></i></div>
            <div>
              <h4>Simulate jobs competing for workers(resources)</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="align-content: center;margin-top: 3em;padding: 0;">
      <h2 style="text-align: center; margin-bottom: 16px;">Technologies Used</h2>
      <div class="container" style="background-color: #0d6efd;height: 20em;padding:0;margin:0;">
        <div class="row align-items-start" style="height: 50%; padding: 0;">
          <div class="col" style="background-color: white; align-content: center;justify-content: center;
            height:100%;display: flex; align-items: center;">
            <img src="../assets/javaicon.jpg" style="max-height: 80%;">
          </div>
          <div class="col">
            <div class="container" style="color: white;padding: 16px;">
              <strong>Frontend</strong>
              <br><br>
              <p>Typescript<br>
                Angular<br>
                Bootstrap</p>
            </div>
          </div>
          <div class="col" style="background-color: white; align-content: center;height:100%;
            display: flex;justify-content: center; align-items: center;">
            <img src="../assets/intellijlogo.jpg" style="max-height: 80%;">
          </div>
        </div>

        <div class="row align-items-start" style="height: 50%; padding: 0;">
          <div class="col">
            <div class="container" style="color: white; padding: 16px;">
              <strong>Backend</strong>
              <br><br>
              <p>Java
                <br>Spring Boot</p>
            </div>
          </div>
          <div class="col" style="background-color: white; align-content: center;height:100%;
            display: flex;justify-content: center;">
            <img src="../assets/angularlogo.jpg" style="max-height: 100%;">
          </div>
          <div class="col">
            <div class="container" style="color: white; padding: 16px;">
              <strong>Tools</strong>
              <br><br>
              <p>IntelliJ<br>
                Git</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 3em;">
      <h2>Requirements and Specifications</h2>
      <ul class="list-group">
        <li class="list-group-item">Read the data from a source text file</li>
        <li class="list-group-item">Create instances of classes and save them in HashMaps</li>

        <li class="list-group-item">All Classes extend Abstract Class Thing
          <br>Thing has the following fields:
          <ul>
            <li>index: int</li>
            <li>name: String</li>
            <li>parent: int</li>
          </ul>
        </li>
        <li class="list-group-item">Each class has another class as their parent.
          <ol>
            <li>World is the root parent</li>
            <li>World has Ports</li>
            <li>Port has Docks, Ships, and Persons</li>
            <li>Dock has Ships</li>
            <li>Ship has Jobs</li>
            <li>PassengerShip extends Ship</li>
            <li>CargoShip extends Ship</li>
          </ol>
        </li>
        <li class="list-group-item">Person is a worker in a Port. Each person has a single specific skill</li>
        <li class="list-group-item">Some ships require to be docked at a specific pier, others are open to any
          free pier.</li>
        <li class="list-group-item">A dock can only receive one ship at a time.</li>
        <li class="list-group-item">A job thread should only progress if the ship is docked and the port has
          available and ready workers.</li>
        <li class="list-group-item">When all the jobs of a ship are done, the ship should leave the dock,
          allowing another ship in waiting to dock.</li>
        <li class="list-group-item">(Mod) Only one job is executed at a time for a particular ship. Eg: If a ship has
          4 jobs, only one job will progress at a time.</li>

        <li class="list-group-item">Use delays to simulate the progress of each job.</li>
        <li class="list-group-item">Create GUI buttons to allow a job to be paused or canceled.</li>
        <li class="list-group-item">Implement a thread for each job that a ship requires
          <br>(Mod)Automatically create standard jobs of 20s for ships that do not have any jobs</li>
        <li class="list-group-item">Use the synchronize directive to avoid race conditions and ensure that a dock is
          performing the jobs for only one ship at a time.</li>

      </ul>
    </div>

    <div class="container" style="margin-top: 3em;">
      <h3>UML</h3>
      <img src="../assets/uml.jpg" style="max-width: 100%;">
    </div>

  </div>

</ng-container>

<ng-container *ngIf="component == 'source'" >
  <div class="container-lg">
    <pre id="output"></pre>
  </div>
</ng-container>

<ng-container *ngIf="component == 'code'" >
  <div class="container-lg">
    <a href="https://github.com/tiagofdeveloper/seaport.git">GitHub</a>
  </div>
</ng-container>

<!--
<br><br><br>
<div  style="padding:0;">
  <p>Hello from Angular</p>
  <br>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="process()">
  <button type="submit">Start</button>
  </form>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="getSubject()">
    <button type="submit">Get Status</button>
  </form>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="stop()">
    <button type="submit">Stop</button>
  </form>
  <br>
  <p>Status:::</p>
  <p>{{counter}}: {{status}}</p>

</div>
-->


