<div  style="padding:0;">
  <p>Hello from Angular</p>
  <br>


  <p>Timer:</p>
  <br>
<!--  <p>{{progress$ | async}}</p>-->

  <p>Get Status</p>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="process()">
  <button type="submit">Start</button>
  </form>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="getSubject()">
    <button type="submit">Get Status</button>
  </form>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="stop()">
    <button type="submit">Stop</button>
  </form>
  <br>
  <p>Response:::</p>

  <p>Status:::</p>
  <!--<ng-container *ngIf="started == true">
    <ng-container *ngIf="(status$|async)?.response?.data?.result != 'Completed' ? getStatus():stop()">

    </ng-container>
    {{(status$ | async)?.response?.data?.result}}
  </ng-container>-->
  {{(subject$ | async)?.data?.result}}



  <!--<ng-container *ngIf="status$">
  <div *ngIf="(status$|async)!.response!.data?.result == 'Waiting'">
    <p>Waiting</p>
  </div>
  <div *ngIf="(status$|async)!.response!.data?.result == 'Processing'">
    <p>Processing</p>
  </div>
  <div *ngIf="(status$|async)!.response!.data?.result == 'Completed'">
    <p>Completed</p>
  </div>
  </ng-container>
-->
</div>
