<div  style="padding:0;">
  <p>Hello from Angular</p>
  <br>


  <p>Timer:</p>
  <br>
<!--  <p>{{progress$ | async}}</p>-->

  <p>Get Status</p>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="process()">
  <button type="submit">Start</button>
  </form>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="getSubject()">
    <button type="submit">Get Status</button>
  </form>
  <br>
  <form #onesieForm="ngForm" (ngSubmit)="stop()">
    <button type="submit">Stop</button>
  </form>
  <br>
  <p>Response:::</p>

  <p>Status:::</p>

  <p>{{counter}}: {{status}}</p>


</div>
